<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= user.username %>'s Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= user.username %>'s Pantry</h1>

  <a href="/users/<%= user._id %>/foods/new">Add New Item</a>

  <ul>
    <% if (pantry.length === 0) { %>
      <li>There are no items in this pantry.</li>
    <% } else { %>
      <% pantry.forEach(item => { %>
        <li>
          <%= item.name %>
          <% if (item.quantity) { %> – <%= item.quantity %><% } %>

          <!-- EDIT link -->
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>

          <!-- DELETE form -->
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE"
                method="POST"
                style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>
